<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GA_LightWeightViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC915E991D124E470070C2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC915EB21D124E470070C2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC915EBD1D124E470070C2DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
